<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo7Pyr6G_KIHXdDNv2L6u3jcLo4XEYZYM</string>
	<key>GCM_SENDER_ID</key>
	<string>520766135950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.filink.finatra</string>
	<key>PROJECT_ID</key>
	<string>conversa-8f229</string>
	<key>STORAGE_BUCKET</key>
	<string>conversa-8f229.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520766135950:ios:9b6c979a1cff185746b3df</string>
</dict>
</plist>